.marginTop {
    margin-top: 10px;
}

h1 {
    color: white;
    font-family: Helvetica;
}

.transparencePanel {
    background: rgba(46, 51, 56, 0.5)!important;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

colorFooter {
    background: rgba(46, 51, 56, 0.1)!important;
}