body {
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(../medias/accueil2.jpg);
}

button {
    background-position: center;
    border: none;
    background-color: steelblue;
    font-family: monospace;
    /*font-weight: bold;*/
    /*font-size: xx-large;*/
    color: black;
    width: 250px;
    height: 100px;
    margin-top: 600px;
    margin-left: 150px;
}